 <!--contacto-->
 <div class="container">
    <h1> <span class="material-symbols-outlined">
        contacts
        </span> Contacto</h1>
    <br>
    <div class="row">
        <div  class="col text-center" >
           <p> <span class="material-symbols-outlined">
            mail
            </span> lucas@gmail.com</p> 
        </div>
        <div class="col text-center">
            <p> 
                <span class="material-symbols-outlined">
                        call
                    </span> 3764556633</p>
        </div>
    </div>
    

</div>
<br><br>
