<!--educacion-->
<br>
<div style="border:1px black solid;border-radius: 5px; padding:20px; " class="container">
    <div class="row">
        <div class="col-10">

            <h1><span class="material-symbols-outlined">
                    school
                </span> Educación</h1>
            <div class="container">
                <hr align="left" noshade="noshade" size="2" width="80%" />
            </div>
        </div>
        <div class="col-2">

            <button routerLink="/nuevaedu" class="btn"><span style="color:black" class="material-symbols-outlined">
                    add_circle
                </span></button>
        </div>

    </div>


        <div *ngFor="let Educacion of lista" class="row">
            <div class="col-10">
                <br>
                <ul>
                    <li>
                        <p>Nombre de la Institución: {{Educacion.nombre}}</p>
                    </li>
                    <li>
                        <p>Titulo: {{Educacion.titulo}}</p>
                    </li>
                    <li>
                        <p>Fecha de Inicio: {{Educacion.fechaInicio}}</p>
                    </li>
                    <li>
                        <p>Fecha de Fin: {{Educacion.fechaFin}} </p>
                    </li>
                </ul>

            </div>
            <div class="col-2">
                <button type="button" class="btn  btn-sm" [routerLink]="['/editaredu/',Educacion.id]"
                    routerLinkActive="router-link-active">
                    <span style="color:black" class="material-symbols-outlined">
                        edit
                    </span>
                </button>

                <button (click)="eliminarEdu(Educacion.id)" type="button" class="btn btn-sm">
                    <span style="color:black" class="material-symbols-outlined">
                        delete
                    </span> </button>
            </div>
            <div class="container">
            <hr align="left" noshade="noshade" size="2" width="80%" />
        </div>
        </div>



       
</div>
<br>
        <div class="container">
            <hr align="left" noshade="noshade" size="2" width="80%" />
        </div>
        <br>