

<div class="container-fluid">
<nav class="navbar bg-dark" data-bs-theme="dark">
    
      <div class="container-fluid">
       <img src="assets/img/logo.png" alt="Logo" width="150" height="70" class="d-inline-block align-text-top">

    

       
        <form class="d-flex" >
            <a style="padding-left: 5px; padding-right: 5px;" href=""><img style="padding-top: 5px" src="assets\img\icone-github-bleu.png" alt="" width="30" height="30"></a>
           <a style="padding-left: 5px; padding-right: 5px;" href=""><img   src="assets\img\iconlinkedin.png" alt="Logo" width="35" height="35"></a>
            <a style="padding: 5px; color:white" href=""><span  class="material-symbols-outlined">
                mail
                </span></a>
            <a style="padding: 5px; color:white" href="">
                <span class="material-symbols-outlined">
                    person_off
                    </span>
                </a>
          </form>
  
      </div>
 
    
  </nav>

</div>

<div class="container-fluid">
    <img src="assets/img/banner.jpg" width=100% height=600px >     
        
</div>
<br><br>
<!--perfil-->
<div class="container">
    <div class="row">
        <div class="col-3"  >
            <img src="assets\img\fotoperfil.jpg" style="border-radius: 15px;" width=100% height=90%>
            
        </div>
        
        <div class="col-1 ">
            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#fotoperfil">
                <span id="icono" class="material-symbols-outlined">
                    edit
                    </span>
              </button>
              
         </div>

             <div class="modal fade" id="fotoperfil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Foto de Perfil</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container">
                    <p>Sube una imagen: </p>
                    
                        <input type="file" name="archivosubido">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Editar</button>
                </div>
                </div>
            </div>
            </div>
        <div class="col-7"  style="padding-top: 80px;"  >
          
            <h2>  <span class="material-symbols-outlined">
                badge
                </span> Lucas Pradier</h2>
            
            <h2> <span class="material-symbols-outlined">
                school
                </span> Estudiante de Desarrollo de Software</h2>
            
            <h2> <span class="material-symbols-outlined">
                person_pin_circle
                </span> Misiones, Argentina</h2>
        </div>
        <div class="col-1">
            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#datosperfil">
                <span id="icono" class="material-symbols-outlined">
                    edit
                    </span>
              </button> 
              <div class="modal fade" id="datosperfil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Descripción</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="container">
                        <p>Nombre: <input type="textarea" name="descripcion"> </p>
                        <p>Ocupación <input type="textarea" name="descripcion"></p>
                        <p>Ubicación: <input type="textarea" name="descripcion"></p>
                            
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Editar</button>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-dark">Tengo interés en</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-secondary">Añadir sección</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-link">Más</button>
        </div>
    </div>
</div>
<br>