<!--habilidades-->
<div style="border:1px black solid;border-radius: 5px; padding:20px; " class="container">
    <div class="row">
        <div class="col-10">

            <h1> <span class="material-symbols-outlined">
                    psychology
                </span> Habilidades</h1>
            <div class="container">
                <hr align="center" noshade="noshade" size="2" width="80%" />
            </div>

        </div>
        <div class="col-2">

            <button class="btn btn-sm"><span style="color:black" class="material-symbols-outlined">
                    add_circle
                </span></button>
        </div>

    </div>


    <div class="row">
        <div class="col-10">
            <br>
            <p> HTML - CSS - BOOTSTRAP</p>


            <div id="barras" class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar " style="width: 75%">75%</div>
            </div>

        </div>
        <div class="col-2">
            <br>
            <button type="button" class="btn  btn-sm">
                <span style="color:black" class="material-symbols-outlined">
                    edit
                </span>
            </button>

            <button class="btn btn-sm"><span style="color:black" class="material-symbols-outlined">
                    delete
                </span> </button>
        </div>

    </div>


    <div class="row">
        <div class="col-10">
            <br>
            <p> JAVASCRIPT - TYPESCRIPT</p>

            <div id="barras" class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar " style="width: 50%">50%</div>
            </div>
        </div>

        <div class="col-2">
            <br>
            <button type="button" class="btn  btn-sm">
                <span style="color:black" class="material-symbols-outlined">
                    edit
                </span>
            </button>

            <button class="btn btn-sm"><span style="color:black" class="material-symbols-outlined">
                    delete
                </span> </button>
        </div>

    </div>



    <div class="row">
        <div class="col-10">
            <br>

            <p>MYSQL</p>

            <div id="barras" class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar " style="width: 75%">75%</div>
            </div>
        </div>

        <div class="col-2">
            <br>
            <button type="button" class="btn  btn-sm" >
                <span style="color:black" class="material-symbols-outlined">
                    edit
                </span>
            </button>
           
            <button class="btn btn-sm"><span style="color:black" class="material-symbols-outlined">
                    delete
                </span> </button>
        </div>
        <br>





    </div>

</div>


    <br>
    <div class="container">
        <hr align="center" noshade="noshade" size="2" width="80%" />
    </div>