 <!--experiencia-->
 <div class="container">
    <div class="row">
        <div class="col-11" >
        
            <h1> <span class="material-symbols-outlined">
                work
                </span> Experiencia</h1>
            
        </div>
        <div class="col-1">
                
            <a href=""><span class="material-symbols-outlined">
                add_circle
                </span></a> 
        </div>
    <div class="row">
    <div class="col-11" >
    
        <p>Ninguna</p>
        
    </div>
    <div class="col-1">
        <a href=""><span class="material-symbols-outlined">
            edit
        </span></a>  
        <a href=""><span class="material-symbols-outlined">
            delete
    </span>    </a>   
    </div>
</div>
</div>    
</div>
<br>
<div class="container">
    <hr align="left" noshade="noshade" size="2" width="80%" />
</div>

<!--educacion-->
<div class="container">
    <div class="row">
        <div class="col-11" >
        
            <h1><span class="material-symbols-outlined">
                school
                </span> Educación</h1>
            
        </div>
        <div class="col-1">
                
            <a href=""><span class="material-symbols-outlined">
                add_circle
                </span></a> 
        </div>
    <div class="row">
    <div class="col-11" >
    
        <ul>
            <li>Instituto Janssen - Tecnico superior en automotores </li>
            <li>Instituto INCADE - Desarrollo de software (en curso) </li>
        </ul>
        
    </div>
    <div class="col-1">
        <a href=""><span class="material-symbols-outlined">
            edit
        </span></a>  
        <a href=""><span class="material-symbols-outlined">
            delete
    </span>    </a>    
    </div>
</div>
</div>   
    
    
</div>
<br>
<div class="container">
    <hr align="left" noshade="noshade" size="2" width="80%" />
</div>

